html {
	background-image: url(fondo-html.jpg);

}


h1 {
	font-family: dancing scrip;
	text-shadow: 2px 2px 8px black;
	font-size: 60px;
	padding: 20px;
	color: black;
}

#parrafo1 {
	font-size: 25px;
	color: #1C2833;
}

.lista-modulo{
	background-color: #45B39D;
	display: inline;
	font-size: 22px;
	padding: 5px;
	margin: 7px;
	color: #4A148C;
}

h2 {
	color: rgb(204, 28, 28);
    font-size: 35px;
}


h3 {
	color: black;
	font-size: 22px;
}

#parrafo2 {
	font-size: 20px;
	color: black;
}

#descarga {
	color: black;
}


.lista-videos {
	background-color: #FFECB3;
	padding: 60px;
	overflow: scroll;
	width: 300px;
	height: 300px;
	box-shadow: 6px black;
	padding-top: 5px;

}