body {
		color: white;
		background-color: white;
		background-image: url(multimedia/fondo-logica2.jpg);
}

h1 {
	/*background-color: #000066;*/
	font-family: dancing scrip;
	text-shadow: 2px 2px 8px black;
	font-size: 60px;
	padding: 20px;
	width: 65%;
	color: black;

}


#parrafo1 {
	font-size: 25px;
	color: #263238;
	font-family: Fascinate;
	font-weight: 600;
	/*background-color: #003366;*/
	padding-top: -2px;
	padding-bottom: -2px;
	border-radius: 20px;
}

#aclaracion-lista {
	font-size: 25px;
	color: #263238;
	font-family: Fascinate;
	font-weight: 600;
	padding-top: -2px;
	padding-bottom: -2px;
	border-radius: 20px;
}


.lista-modulo{
	background-color: #FFECB3;
	display: inline;
	font-size: 22px;
	padding: 5px;
	margin: 7px;

}


#parrafo2 {
	font-size: 25px;
	color: #A93226;
	border-radius: 60%;
}

#parrafo2:hover{
	background-color: white;
	padding: 15%;
	transition: all 0.2s;
}


h2 {
	display: block;
	font-family: monospace;
	white-space: nowrap;
	border-right: 4px solid;
	width: 48ch;
	color: black;
	font-size: 37px;

	animation: typing 6s steps(48),blink 1s infinite step-end alternate ;
	overflow: hidden;
}

@keyframes typing {
	from { width: 0; }
}

@keyframes blink {
	50% {border-color: transparent;}
}

h3 {
	color: black;
	font-size: 25px;
}

#descarga {
	color: blue;
	font-size: 24px;
}

.lista-videos {
	color: black;
	font-size: 19px;
}

#titulo-final {
	font-size: 15px;
}

#mod2:hover {
	background-color:#F3E5F5;
	padding: 20px;
	font-size: 25px;
}

.lista-videos{
	background-color: #FFECB3;
	padding: 60px;
	overflow: scroll;
	width: 500px;
	height: 300px;
	box-shadow: 6px black;
	padding-top: 5px;

}

#logo {
	width: 3%;
	right: 3%;
	margin-left: 0%;
	margin-bottom: 0%;
	position: fixed;
	margin-top: -1%;
}

#titulofinal{
	color: black;
	font-size: 30px;
}

#titulo-final {
	color: #145A32 ;
	font-size: 22px;
}